@model IEnumerable<QueryRoom.Models.Questions>

@{
    ViewBag.Title = "AllQuestions";
}



<div class="row">
    <div class="col-md-2">
        <div>

            @if (User.IsInRole("Admin"))
            {
                <a class="text-dark" href="~/adminmvc">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                        </svg>
                    </span>
                </a>
            }
            else
            {
                <a class="text-dark" href="~/homepage/index">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                        </svg>
                    </span>
                </a>
            }



        </div>
    </div>
    <div class="col-md-10">

    </div>

</div>
<h2 class="display-4 text-center mb-4" style="font-weight:700">AllQuestions</h2>



<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-7">
                <div class="">
                    @if (!User.IsInRole("Admin"))
                    {
                        <a href="/questionsmvc/questionpost" class="text-dark" style="text-decoration:none; font-weight:400; font-size:20px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
                            </svg>&nbsp; Add New
                        </a>
                    }

                </div>
            </div>
            <div class="col-5">
                <form class="form ml-5">
                    <div class="input-group m-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="height:40px;">#</span>
                            @using (Html.BeginForm())
                            {
                                @Html.TextBox("Search_Data", ViewBag.FilterValue as string, new { @class = " from-control rounded border", @style = "height:40px;", @placeholder = "Topic Search", @id = "search_bar" })
                                        
                                <button type="submit" class="border bg-primary rounded border-0" style="margin-left:15px">
                                    Search
                                </button>
                            }
                        </div>

                    </div>
                </form>
            </div>
        </div>

        @if (!Model.Any())
        {
            <div style="height:50px"></div>
            <h2>No Questions Found...!!</h2>
        }
        else
        {
            <table class="table table-fluid" id="myTable">


                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            <div class="jumbotron jumbotron-fluid bg-light p-4 rounded">
                                <a class="text-dark" href="/answersmvc/viewanswers?qid=@item.QID&que=@item.QUESTION">
                                    <div class="container">
                                        <h1 class="lead" style="font-weight:400; font-size:2em;"> @item.QUESTION</h1>
                                        <hr />
                                        <p class="">
                                            @if (!User.IsInRole("Admin"))
                                            {
                                                @Html.ActionLink("Give Answer | ", "AnswerPost", "AnswersMVC", new { qid = item.QID, question = item.QUESTION }, null)
                                            }
                                            @if (!User.IsInRole("Admin"))
                                            {
                                                @Html.ActionLink("View Answers", "ViewAnswers", "AnswersMVC", new { qid = item.QID, que = item.QUESTION }, null)

                                            }

                                            else
                                            {
                                                @Html.ActionLink("View Answers", "ViewAnswers", "AnswersMVC", new { qid = item.QID }, null)
                                            }


                                        </p>
                                        @item.TIMESTAMP
                                        <span class="text-info text-right">@item.USERNAME</span>
                                    </div>
                                </a>

                            </div>
                        </td>

                    </tr>
                }

            </table>
        }

    </div>
    <div class="col-md-2"></div>
</div>








