@model IEnumerable<QueryRoom.DTOs.UserDetails>

@{
    ViewBag.Title = "GetAllUsers";
}

<h2>GetAllUsers</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USERNAME)
        </th>
        <th>
            PHONE NO
        </th>
        <th>
            POINTS
        </th>
        <th>
            Operations
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(model => item.USERNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHONE_NO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.POINTS)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.USERNAME })
        </td>
    </tr>
    }

</table>
